.article-list-title {
    margin: 20px auto;
    text-align: left;
    cursor: pointer;
}

.article-list-title:visited {
    color: purple;
}

.article-list-title:hover {
    color: blue;
    text-decoration: underline;
}

.article-single-title {
    text-align: center;
}

.article-single-main {
    text-align: center;
}

.article-single-main .article-single-subtitle{
    display: block;
}

.article-single-main .article-single-author {
    /*float: left;*/
}

.article-single-main .article-single-time {
    /*float: left;*/
}

.article-single-main .article-single-body {
    margin-top: 50px;

}